# Best practice for higher availability in librdkafka clients prior to 1.7 (NN)
session.timeout.ms=45000

bootstrap.servers=pkc-619z3.us-east1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=XQFYJ225ZMF777I5
sasl.password=cfltmWg0FswP6wx4z7+qMeb2CCcYy87MWxv6bM3a+jcEWAwhFDvdBfKQaflzeKTg