# Best practice for higher availability in librdkafka clients prior to 1.7 (NN)
session.timeout.ms=45000

# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-12576z.us-west2.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=TVW3DOHQBN4Z5FFI
sasl.password=4NKKzsbrVzGXRy9RbF9ur6MSYdhmn69XOoz+Fwsxmtha8vPR1hovnnoU7B8KwGYl

# Best practice for higher availability in librdkafka clients prior to 1.7 (NN)
session.timeout.ms=45000
